@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;

}
body {
    background-color: #010326;
    background-size: cover;
    background-image: url('imagens/fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    }

header {
    background-image: url('../imagens/bannersite.jpg');
    background-position: center center;
    background-size: cover;
}
header h1, p {
    color: white;
    display: flex;
}
header img {
    width: 100%;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 2px;
}
nav > div > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s;
    font-weight: bold;
    background-color: rgba(113, 28, 182, 0.301);
}
nav > div > #navegacao {
    border-radius: 10px 10px 0px 0px;
    background-color: #152D59;
    padding-bottom: 18px;
}
nav > div> a:hover {
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
    color: black;
}
article {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}
div.titulo {
    display: block;
    color: yellow;
}